::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
}

.hide-scroll {
    overflow: scroll;
}

.hide-scroll::-webkit-scrollbar {
    display: none;
}

.drag {
    --webkit-app-region: drag;
    app-region: drag;
}
.no-drag {
    --webkit-app-region: no-drag;
    app-region: no-drag;
}
